# SPDX-FileCopyrightText: 2024 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # ratchet:cachix/install-nix-action@v31

      - name: Build
        run: nix build --fallback --print-build-logs '.#valfisk'
